@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Josefin Sans', sans-serif;
}

.background-home {
	background-image: url('/svg/shape_main.svg');
	background-size: 80rem 100%;
	background-repeat: no-repeat;
	background-position: center; 
}

.background-1 {
	background-image: url('/svg/shape_1.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center; 
}

.background-2 {
	background-image: url('/svg/shape_2.svg');
	background-size: 80rem 100%;
	background-repeat: no-repeat;
	background-position: center; 
}