@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Ysabeau Infant', sans-serif;
}

.background-banner {
    background-image: url('/img/banner_main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.background-about {
    background-image: url('/img/banner_about.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.background-services {
    background-image: url('/img/banner_services.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.background-contact {
    background-image: url('/img/banner_contact.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.bg-img-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/12.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/11.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/19.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/20.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img-7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/21.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.h-c-1 {
    height: calc(100vh - 18rem);
}