@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&family=Pridi:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Pridi', serif;
    scroll-behavior: smooth;
}

.h-c-1 {
    height: calc(100vh - 34.1rem);
}

::-webkit-scrollbar {
    width: 3px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #F5276F;
    border-radius: 999px;
}

.header-title {
    font-family: 'Oleo Script', cursive;
}

.bg-1 {
    background-image: url('/svg/bg1.svg');
    background-position: center;
    background-repeat: no-repeat;
    size: 100% 10rem;
}

.box-shadow {
    box-shadow: 10px 10px 0px 0px #F5276F;
}